parameters:
    level: max
    paths:
        - src/
        - tests/
        - examples/
    stubFiles:
        - tests/stubs/Http/Promise/Promise.phpstub
    checkExplicitMixed: false
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon