<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    defaultTestSuite="unit"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
    forceCoversAnnotation="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="functionnal">
            <directory>./tests/functionnal/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="assert.exception" value="1" />
        <env name="REDIS_HOST" value="127.0.0.1" />
        <env name="REDIS_PORT" value="6379" />
    </php>
</phpunit>
