<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/Test/Prometheus</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Prometheus/</directory>
        </whitelist>
    </filter>
</phpunit>
