name: CI Experimental

permissions: {}

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests:
    name: Tests on PHP 8.6 nightly
    runs-on: ubuntu-24.04
    services:
      valkey:
        image: valkey/valkey
        ports:
          - 6379/tcp
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: '8.6'
          extensions: mbstring, redis, apcu
          ini-values: apc.enable_cli=1, zend.assertions=1
          coverage: none
          tools: composer:v2
      - name: Remove Composer lockfile
        run: rm composer.lock
      - name: Install dependencies
        run: composer update --no-interaction --prefer-dist --ignore-platform-reqs
      - name: Configure PHPUnit matchers
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - name: Run tests
        continue-on-error: true
        run: ./vendor/bin/phpunit --colors
        env:
          REDIS_PORT: ${{ job.services.valkey.ports['6379'] }}