name: CI Experimental

permissions: {}

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests:
    name: Tests on PHP 8.5 nightly
    runs-on: ubuntu-24.04
    services:
      valkey:
        image: valkey/valkey
        ports:
          - 6379/tcp
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@ec406be512d7077f68eed36e63f4d91bc006edc4 # 2.35.4
        with:
          php-version: '8.5'
          extensions: mbstring, redis, apcu
          ini-values: apc.enable_cli=1, zend.assertions=1
          coverage: none
          tools: composer:v2
      - name: Remove Composer lockfile
        run: rm composer.lock
      - name: Install dependencies
        run: composer update --no-interaction --prefer-dist --ignore-platform-reqs
      - name: Configure PHPUnit matchers
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - name: Run tests
        continue-on-error: true
        run: ./vendor/bin/phpunit --verbose --colors
        env:
          REDIS_PORT: ${{ job.services.valkey.ports['6379'] }}