name: CI

permissions: {}

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests:
    name: Tests on PHP ${{ matrix.php }} ${{ matrix.dependencies }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    services:
      valkey:
        image: valkey/valkey
        ports:
          - 6379/tcp
    strategy:
      matrix:
        php: ['8.2', '8.3', '8.4', '8.5']
        dependencies: ['--ignore-platform-req=php', '--prefer-lowest --prefer-stable --ignore-platform-req=php']
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, redis, apcu
          ini-values: apc.enable_cli=1, zend.assertions=1
          coverage: pcov
      - name: Remove Composer lockfile
        run: rm composer.lock
      - name: Install dependencies
        run: composer update --no-interaction --prefer-dist ${{ matrix.dependencies }}
      - name: Configure PHPUnit matchers
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - name: Run tests
        run: ./vendor/bin/phpunit --colors --coverage-clover=coverage.xml
        env:
          REDIS_PORT: ${{ job.services.valkey.ports['6379'] }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: ./coverage.xml
  mutation_testing:
    name: Mutation testing
    runs-on: ubuntu-24.04
    services:
      valkey:
        image: valkey/valkey
        ports:
          - 6379/tcp
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: '8.2'
          extensions: mbstring, redis, apcu
          ini-values: apc.enable_cli=1, zend.assertions=1
          coverage: pcov
      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist
      - name: Run Infection
        run: ./vendor/bin/infection --min-msi=90 --min-covered-msi=90 --static-analysis-tool=phpstan
        env:
          REDIS_PORT: ${{ job.services.valkey.ports['6379'] }}
      - name: Archive report
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Infection report
          path: infection.log
  integration:
    name: Integration tests on PHP ${{ matrix.php }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php: ['8.2', '8.3', '8.4', '8.5']
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --ignore-platform-req=php
      - name: Start stack
        run: |
          docker compose up -d
          sleep 10
          docker ps -a
        env:
          PHP_VERSION: ${{ matrix.php }}
      - name: Tests with Redis
        run: docker compose exec -T phpunit env ADAPTER=redis vendor/bin/phpunit --testsuite=functionnal
        env:
          PHP_VERSION: ${{ matrix.php }}
      - name: Tests with APCU
        run: docker compose exec -T phpunit env ADAPTER=apcu vendor/bin/phpunit --testsuite=functionnal
        env:
          PHP_VERSION: ${{ matrix.php }}
  code_quality:
    name: Code quality
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: '8.2'
          extensions: mbstring, redis, apcu
          coverage: none
      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist
      - name: PHPCS
        run: ./vendor/bin/phpcs
      - name: Psalm
        run: ./vendor/bin/psalm --shepherd
      - name: PHPStan
        run: ./vendor/bin/phpstan analyse
  backward_compatible_changes:
    name: Backward Compatible Changes
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      # Disable (temporarily) CI check with Roave BC check
      # See https://github.com/Nyholm/roave-bc-check-docker/issues/32
      #- name: Roave BC Check
      #  uses: docker://nyholm/roave-bc-check-ga
      #  with:
      #    args: roave-backwards-compatibility-check:assert-backwards-compatible --from=v1.0.0
  nix-shell:
    name: Working Nix Shell
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Install dependencies
        run: nix-shell --pure --run 'composer install --no-interaction --prefer-dist'
      - name: Basic tests
        run: nix-shell --pure --run './vendor/bin/psalm'
